@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  white-space: normal;
}

.ripple {
  position: fixed;
  top: 25vh;
  right: 43vw;
}

/* NAV */

.nav {
  width: 100%;
  background-color: #040813;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 10vh;
  align-items: center;
  padding: 0 3em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-bug {
  font-size: 21px;
  padding: 0.5em 0.5em;
}
.nav-links p {
  font-size: 1.3rem;
  margin-right: 2rem;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
}

.nav-links ul li {
  list-style: none;
  padding: 1em 1em;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
}

.welcome {
  font-size: 1rem;
}

/* BUTTON */
.btn {
  border: none;
  border-radius: 20px;
  text-align: center;
  margin-top: 1em;
}
.btn:hover {
  cursor: pointer;
}

.btn-primary {
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #20433d;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* CARD */
.underNav {
  background-color: #e6e6e6;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  color: black;
}

.card {
  background-color: #617576;
  width: 30vw;
  margin: 1em 3vw;
  padding: 1em 1em;
  border-radius: 3px;
  min-height: 400px;
  font-weight: 500;
}

.scrolly {
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 5vw;
  white-space: nowrap;
}

/* BUG ITEM */

.bug-item-container {
  width: 100%;
  background-color: #bac7b8;
  color: black;
  margin: 1em 0;
  padding: 0.5em 0.5em;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 0.8em;
  font-weight: 400;
  transition: 0.3s ease;
}

.bug-item-container:hover {
  background-color: #e6e6e6;
  color: black;
  cursor: pointer;
}

.circle {
  padding: 5px 5px;
  border-radius: 5px;
  background-color: red;
  margin: auto 0;
  margin-right: 4px;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-right: 10px;
  justify-content: flex-end;
}
.projectname {
  margin-top: 30px;
  margin-left: 5px;
}

.fa-trash {
  float: right;
  margin: 4px 4px;

  transition: 0.3 ease;
}

.fa-trash:hover {
  cursor: pointer;
}

.title {
  padding-right: 15px;
  margin-left: 5px;
  margin-top: 5px;
}

.clicked {
  background-color: crimson;
}

/* CREATE BUG MODAL */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 600px;
  max-width: 600px;
  max-height: 100vh;
  min-height: 475px;
  background: white;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: -20px 20px 40px -17px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: -20px 20px 40px -17px rgba(0, 0, 0, 0.81);
  box-shadow: -20px 20px 40px -17px rgba(0, 0, 0, 0.81);
}

.create-form input {
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #a9a9a9;
  margin-bottom: 8px;
  padding: 4px 4px;
}

.create-form textarea {
  padding: 4px 4px;
}

.create-form {
  font-size: 20px;
  padding-top: 0px;
}

.create-form p {
  color: #85203b;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 8px;
}

.create-form label div {
  margin-bottom: 8px;
}

.closebtn {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 5px;
}

.closebtn:hover {
  cursor: pointer;
}

.modal label {
  display: flex;
  flex-direction: column;
}

.modal textarea {
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 20px;
  border-radius: 4px;
}

.modal form {
  padding: 25px 25px;
}

.priority {
  display: flex;
  align-items: center;
  margin: 10px;
}
.radios-container {
  margin-left: 5px;
  display: flex;
}
.radio-container {
  margin-left: 16px;
}
.radio-container {
  justify-content: center;
  align-items: center;
}

.btn-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* INFORMATION MODAL */

.info-modal {
  width: 566px;
  min-height: 360px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  color: black;
  /* overflow: scroll;
  overflow-x: hidden; */
}

.info-project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-project-container > div:nth-of-type(1) {
  font-weight: bold;
  font-size: 26px;
  color: #85203b;
  letter-spacing: 3px;
}

.info-project-container > div:nth-of-type(2) {
  color: #828181;
  font-size: 15px;
  letter-spacing: normal;
}

.info-desc {
  width: 100%;
  min-height: 170px;
  font-size: 20px;
  word-wrap: break-word;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 16px 0;
}

.info-title > div:nth-of-type(2) {
  color: #798605;

  font-size: 18px;
}

.info-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.info-footer > div:nth-of-type(1) {
  margin: 0 0;
}

/* AUTH */
.auth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* BANNER */
.banner-container {
  width: 40%;
  height: 100vh;
  background-color: #040813;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.brand-container {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.main-icon {
  font-size: 80px;
  margin: 0 auto;
  margin-top: 20vh;
  padding: 0 0;
}

.brand-name {
  margin: auto auto;
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}
.quote {
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  margin: 0 auto;

  text-align: left;
}
.quote-author {
  width: 50%;
  margin: 0 auto;
  font-size: 11px;

  text-align: left;
}

.register-prompt {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.register-prompt div {
  font-weight: bold;
  color: #040813;
  margin-left: 4px;
}

/* LOGIN FORM */

.login-form-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10vh 10vh;
  padding-top: 15vh;
}

.auth-title {
  font-size: 30px;
  color: #040813;
  font-weight: bold;
  letter-spacing: 2px;
}

.auth-sub {
  font-size: 20px;
  font-weight: 400;
  color: #8d8d8d;
  margin-top: 10px;
}

.login-form-container label {
  font-size: 20px;
  font-weight: bold;
  color: #040813;
}

.login-form-container input {
  height: 30px;
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #8d8d8d;
}

.login-form-container input:focus {
  border: 2px solid #499ffa;
}

.login-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.auth-submit {
  width: 100px !important;
  height: 45px !important;
  color: white;
  background-color: #017bfd;
  border: none !important;
  border-radius: 3px !important;
  margin-top: 30px !important;
  font-size: 20px !important;
}

/* REGISTER */

.register-form-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10vh 10vh;
  padding-top: 10vh;
}

.register-form-container label {
  font-size: 20px;
  font-weight: bold;
  color: #040813;
}

.register-form-container input {
  height: 30px;
  width: 50%;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #8d8d8d;
}

.register-form-container input:focus {
  border: 2px solid #499ffa;
}

.register-form-container .form-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
